<%# app/views/memberships/show.html.erb %>
<div class="container">
  <% if @membership.user %>
    <h1>Membership for <%= render "shared/user_mention", user: @membership.user %></h1>
    
    <div class="premium-card-showcase">
      <div class="cards-row">
        <div class="card-container <%= @membership.current_status %>">
          <div class="premium-card">
            <div class="card-content">
              <div class="card-header">
                <div class="hack-club-logo">HACK CLUB</div>
                <div class="chip"></div>
              </div>
              <div class="card-body">
                <div class="hack-club-emblem">
                  <%= image_tag "/flag-standalone-bw.png", class: "flag-icon", alt: "Hack Club Flag" %>
                </div>
              </div>
              <div class="card-footer">
                <div class="card-number">7997</div>
                <div class="member-info">
                  Member
                  Since
                  <strong><%= @membership.member_since&.strftime("'%y") %></strong>
                </div>
                <div class="cardholder-info">
                  <div class="cardholder-name"><%= @user.display_name&.upcase || "DEVEN" %></div>
                  <div class="card-label"><%= @membership.humanized_status %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="membership-details">
      <% if @membership.member_since %>
        <p title="<%= @membership.member_since.strftime("%B %d, %Y") %>">
          Member Since <%= @membership.member_since.strftime("%b '%y") %>
          <span class="super">(<%= time_ago_in_words(@membership.member_since) %> ago)</span>
        </p>
      <% end %>
      <% if @membership.user.streak_days_formatted %>
        <p>Current streak: <%= @membership.user.streak_days_formatted %> days 🔥</p>
      <% end %>
    </div>

    <ul>
      <% @membership.ysws_projects.each do |project| %>
        <li>
          <span class="project-name"><%= project["code_url"] %></span>
          <span class="super"><%= project["hours_spent"].round(1) %>hrs</span>
          <%= link_to "Play", project["playable_url"], target: "_blank" %>
          <%= link_to "Code", project["code_url"], target: "_blank" %>
          <span class="super"><%= project["ysws_name"].first %></span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h1>User Not Found</h1>
    <p>The requested user could not be found.</p>
  <% end %>
</div> 